@import "variables.scss";


.backToTopLink {
	display: block;
	text-align: center;
	margin: 20px 0 50px 0;
}

.jump-to-content {
	position: absolute;
	top:5px;
	padding: 10px;
	background-color: #fff;
    left: -99999px;
    min-height: 0;
    height: 1px;
    margin-top: -1px;
    line-height: 35px;
    -webkit-transition: top 1s ease-out,background 1s linear;
    transition: top 1s ease-out,background 1s linear;
    z-index: 100;
    border-radius: $border-radius;
}
.jump-to-content:focus {
	top: 5px;
    left: 5px;
    background: $primary-blue;
    color: #fff;
    -webkit-transition: top .1s ease-in,background .5s linear;
    transition: top .1s ease-in,background .5s linear;
    height: auto;
    text-decoration: underline;
}

.text-light {
	color: $text-color-light;
}

.content-block {
	margin-bottom: 70px;
}

.footer {
	background-color: #fff;
	padding: 90px 20px 90px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 640px) {
		flex-direction: column;

		.footer-links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}



.footer-link {
	padding: 10px 20px;
}

.logo {
	height:60px;
	margin: 0 40px 0 0;
	@media only screen and (max-width: 640px) {
		height: 40px;
		margin: 0 20px 0 0;
	}
}

.header {
	display:flex;
	padding: 20px;
	align-items: center;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	@media only screen and (min-width: 1250px) {
		position: fixed;
	}
}

.logo-container a {
	display: flex;
	align-items: center;
	text-decoration: none;
	white-space: nowrap;
}


[data-inclusive-menu] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

[data-inclusive-menu] .menu {
	height:45px;
  	width: 45px;
  	background: transparent url('/icons/icon-menu-black.svg') 50% 50% no-repeat;
}

[data-inclusive-menu] .menu--open {
 background: transparent url('/icons/icon-menu-close-black.svg') 50% 50% no-repeat;		
}

.header--dark [data-inclusive-menu] .menu {
  background: transparent url('/icons/icon-menu.svg') 50% 50% no-repeat;
}

.header--dark [data-inclusive-menu] .menu--open {
 background: transparent url('/icons/icon-menu-close.svg') 50% 50% no-repeat;		
}

[data-inclusive-menu-opens],
[data-inclusive-menu] [role^="menuitem"] {
  text-align: left;
  background: transparent;
  border: 0;
}

[data-inclusive-menu] [role="menu"] {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 20px 20px 25px 20px;
  border-radius: $border-radius;
  box-shadow: 0 2px 16px rgba(0,0,0,0.16);
}

.nav-wrapper {
	flex-direction: column-reverse;
	display: flex;
}

[data-inclusive-menu] [data-inclusive-menu-from="right"] {
  left: auto;
  right: 2px;
  top: 48px;
  @media only screen and (max-width: 640px) {
  	width: 100vw;
  	right: -20px;
  	border-radius: 0;
  }
}

[data-inclusive-menu] .menuitem {
  display: block;
  min-width: 100%;
  white-space: nowrap;
  padding: 10px;
  font-size: 16px;
  font-family: Open-sans, sans-serif;
  cursor: pointer;
}

[data-inclusive-menu] [role^="menuitem"][aria-checked="true"] {
  font-weight: bold;
}



.title {
	font-family: Montserrat-Light, sans-serif;
	text-decoration: none;
	margin-top: 5px;
}

.nav-container {
	display:flex;
	height:120px;
	padding: 20px 0 20px 20px;
	align-items: center;
	width: 100%;
}

.nav-menu--language {
	margin-left: auto;
	display: flex;
	align-self: flex-start;
	margin: 20px 0 25px;
}

.nav-menu--language button {
	text-transform: none;
	margin: 0;
	color: $headline-color;
	font-family: Montserrat-Regular;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	padding:0 10px;
	text-decoration: none;
}
.nav-menu--language button.active {
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
} 

.nav-menu--language button:hover {
	text-decoration: underline;
	cursor: pointer;
}
