@import "variables.scss";

.thankyou-container {
	max-width: 800px;
	margin: 100px auto 0 auto;
	@media only screen and (max-width: 800px) {
		margin: 100px 20px 50px 20px;
	}
}

.dropzone {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 1px;
	border-radius: 2px;
	border-color: $link-color;
	border-style: dashed;
	background-color: #fff;
	color: $link-color;
	outline: none;
	transition: border .24s ease-in-out;
}
.dropzone:hover, .dropzone:focus {
	border-style: solid;
	cursor: pointer;
}

.dropzone > p {
	color: $link-color;
	font-size: 16px;
	margin-bottom: 0em;
}

.dropzone-files {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.dropzone-file {
	padding: 5px;
	font-color: #000;
}

.dropzone-file-button {
	background-color: #fff;
	color: #3673c9;
	border: none;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	float: right;
}