@import "global.scss";

.card-list-and-map-container{
	display: flex;
}

.filters  {
	padding: 20px;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
}

.card-list {
	margin: 0 20px;
	min-width: 780px;
}

.map-container {
	width: 100%;
}

.results-summary {
	font-size: 22px;
	font-family: Montserrat, sans-serif;
	line-height: 27px;
	margin: 25px 0 25px 10px;
}