@import "variables.scss";

$column-width: 1180px;

.location-picker {
	max-width: $column-width;
	margin:-70px auto 50px auto;
	background-color: #fff;
	border-radius: $border-radius;
	padding: 20px;
}