@import "variables.scss";

.landing {
	background-color: #000;
}

.jumbotron {
	background: transparent url('/hero-image.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: calc(100vh - 100px);
	text-align: center;
	margin-bottom: 50px;
	@media only screen and (max-width: 640px) {
		height: calc(100vh - 25px);
	}
}

.jumbotron-content {
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:100px;
	@media only screen and (max-width: 640px) {
		padding-bottom: 10px;
	}
}

.jumbotron-header {
	animation: appear 2s ease-in-out;
	font-size: 120px;
	font-weight: bold;
	color: $text-color-light;
	line-height: 120px;
	@media only screen and (max-width: 640px) {
		font-size: 60px;
		line-height: 60px;
	}
}

.jumbotron-header span{
	display: block;
}

.jumbotron-text {
	color: $text-color-light;
	animation: appear 2s ease-in-out;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	margin: 15px 0 25px 0;
}

.jumbotron-btns {
	display: flex;
	animation: appear 2s ease-in-out;
	align-items: center;
	@media only screen and (max-width: 640px) {
		display:block;
		.btn {
			display: block;
		}
		.btn-divader {
			margin: 10px 0;
		}
	}
}

.btn-divader {
	text-align: center;
	width: 70px;
	margin:0;
	display: inline-block;
}

.btn--bounce {
	animation: bounce 1.5s ease-in-out;
	animation-delay: 3s;
}

.btn {
	padding: 12px;
	border: 1px solid $text-color-light;
	background-color:  $text-color-light;
	color: $text-color;
	max-width: 400px;
	width: 275px;
	white-space: nowrap;
	user-select: none;
	font-weight: 500;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	border-radius: $border-radius;
	text-align: center;
}

.btn:hover {
	text-decoration: none;
	background-color: $pink;
	border-color: $pink;
	transition: all 0.2s ease-in-out;
	color: $text-color-light;
	cursor: pointer;
}

.btn-secondary {
	background-color: transparent;
	color: $text-color-light;
}

.btn-secondary--dark {
	color: $text-color;
	border-color: $text-color;
}

.teaser-container {
	display: flex;
	justify-content: center;
}


.teaser-container {
	display:flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin:0 auto;
	@media only screen and (max-width: 640px) {
		display: block;
	}
}

.teaser {
	display:flex;
	flex-direction: column;
	max-width: 450px;
	padding: 30px 25px 40px 25px;
	border-radius: $border-radius;
	background-color: #F2F7FB;
	margin: 25px 35px;
	@media only screen and (max-width: 640px) {
		margin: 20px 10px;
	}
}

.teaser .btn {
	width: 400px;
	max-width: 100%;
	margin-top: auto;
}

.teaser--feedback {
	background: #F2F7FB;
}

.teaser--initiative {
	background: #403F76;
}  

.teaser--highlight {
	max-width: 335px;
	margin: 10px;
	@media only screen and (max-width: 640px) {
		max-width: 450px;
		margin: 20px 10px;
	}
}

.teaser__header {
	text-align: center;

}

.teaser--highlight .teaser__header {
	min-height:65px;
	@media only screen and (max-width: 640px) {
		min-height: auto;
	}
}

.teaser__image {
	margin:10px 0 40px 0;
}

.teaser--highlight .teaser__text {
	margin-bottom:0;
}

.teaser__text--ingress {
	font-size: 19px;
	font-weight: 500;
	line-height: 29px;
}

.margin-bottom {
	margin-bottom:40px;
}


.section-header {
	text-align: center;
	color: $text-color-light;
}

.initiative-list {
	color: $text-color-light;
	max-width: 480px;
	margin: 0 auto;
	padding: 25px 25px 70px 25px;
}

.initiative-list li {
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 1.5em;
}

.initiative-list li a {
	color: $text-color-light;
}

.initiative-list li a:hover {
	color: $text-color-light;
	text-decoration: underline;
}

.initiative-list .date {
	font-size: 14px;
	color: #e2e2e2;
	display: block;
}


@keyframes appear {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes bounce {
    0% {  
        transform: translateY(0); 
    }

    20% {  
        transform: translateY(-0.5em);      
    }

    40% {  
        transform: translateY(0.3em);     
    }
    
   60% {
        transform: translateY(-0.15em);     
    }

    80% {  
        transform: translateY(0);    
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}


