@import "variables.scss";

.accessibility-page {
	max-width: 800px;
	margin: 100px auto 0 auto;
	@media only screen and (max-width: 800px) {
		margin: 100px 20px 50px 20px;
	}
}

.accessibility-title {
	margin-bottom: 1em;
}
