@import "variables.scss";

.teaser-container {
	display: flex;
	justify-content: center;
	margin: 70px 0;
}

.teaser {
	display:flex;
	flex-direction: column;
	max-width: 450px;
}

.teaser--feedback {
	background: #F2F7FB;
	border-radius: $border-radius;
}

.teaser--initiative {
	background: #403F76;
}  