@import "variables.scss";

.initiative-headline {
	margin-bottom: 10px;
	text-align: center;
}

.initiative-date {
	text-align: center;
}

.initiative-answer-headline {
	margin-bottom: 10px;
	text-align: center;
}