/* Colors */
$border-color: #e8e8e8;
$input-border: #6e6e6e;
$primary-blue: #0050bb;
$text-color: #0f0f0f;
$text-color-light: #fff;
$link-color: #3373c9;

$pink: #C90177;

$light-gray: #dbdbdb;
$headline-color: #6e6e6e;

$border-radius: 4px;
